﻿<?php
	use DVGroup\Common\CommonLibs;
	echo $this->artist_filter;
    $filter = new Zend\Filter\StripTags();
    use Artist\Source\ArtistCommon;
?>
<div class="clearfix"></div>
<div id="artist-main" class="container">
    <!--danh sách nghệ sỹ-->
    <div id="sly-artist" class="artist-cover">
        <!-- Slider -->
        <div style="visibility: visible;" class="sky-carousel sc-no-select">
            <div style="visibility: visible; opacity: 1;" class="sky-carousel-wrapper">
                <ul class="sky-carousel-container">
                    <li>
                        <img class="sc-image" src="<?php echo $this->basePath() . '/templates/default/images/sky/1.jpg' ?>" alt="">
                    </li>
                    <li>
                        <img class="sc-image" src="<?php echo $this->basePath() . '/templates/default/images/sky/2.jpg' ?>" alt="">
                    </li>
                    <li>
                        <img class="sc-image" src="<?php echo $this->basePath() . '/templates/default/images/sky/3.jpg' ?>" alt="">
                    </li>
                    <li>
                        <img class="sc-image" src="<?php echo $this->basePath() . '/templates/default/images/sky/4.jpg' ?>" alt="">
                    </li>
                    <li>
                        <img class="sc-image" src="<?php echo $this->basePath() . '/templates/default/images/sky/5.jpg' ?>" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <!--end Slides-->
    </div>
    <div class="nav">
        <ul>
            <li><a class="<?php if($country_slug == NULL) echo "active" ?>" href="<?php echo $this->url('Artist',array());?>">Tất cả</a></li>
            <?php foreach($countries as $country){ ?>
                <li><a class="<?php if($country_slug == $country['country_en']) echo "active" ?>" href="<?php echo $this->url('Artist',array('country_slug'=> $country['country_en']));?>" title="<?php echo $country->country_name?>"><?php echo $country['country_name']?></a></li>
            <?php } ?>
        </ul>
    </div>
    <div class="artist-contents">
        <div class="artist-left">
            <ul>
                <li><h3>Việt nam</h3></li>
                <li><a href="">Rap việt</a></li>
                <li><a href="">Nhạc không lời</a></li>
                <li><a href="">Nhạc Dance</a></li>
                <li><a href="">Nhạc trẻ</a></li>
                <li><a href="">Nhạc cách mạng</a></li>
                <li><a href="">Cải lương</a></li>
                <li><a class="active" href="">Nhạc trữ tình</a></li>
                <li><a href="">Nhạc quê hương</a></li>
                <li><a href="">Nhạc trịnh</a></li>
                <li><a href="">Rock việt</a></li>
                <li><a href="">Nhạc thiếu nhi</a></li>
                <li><a href="">Nhạc phim</a></li>
            </ul>
        </div>
        <div class="artist-right">
            <ul>
            <?php foreach ($artist as $artist_item){
                $slug=str_replace(' ','-',$artist_item['name_search']);?>
                <li class="artist-list">
                    <div class="artist-avatar photo">
                        <a href="<?php echo $this->url('ArtistDetail',array('action'=>'artist','name'=>$slug));?>">
                            <div class="lazy-image img-responsive" lazy-src='<?php echo ArtistCommon::getUrlImageArtist($artist_item['ac_avatar'], $slug);?>'></div>
                        </a>
                    </div>
                    <div class="artist-info">
                        <h3><a title="<?php echo $artist_item['name'];?>" href="<?php echo $this->url('ArtistDetail',array('action'=>'artist','name'=>$slug));?>"><?php echo $artist_item['name'];?></a></h3>
                        <div class="desc">
                            <?php echo $filter->filter(CommonLibs::shortern_word($artist_item['ac_artist_about'], 225) . '...');?>
                        </div>
                    </div>
                </li>
            <?php }?>
            </ul>
            <?php if($is_next >= 0){ ?>
                <div id="artist-next">
                    <a href="<?php echo $this->url('Artist', array('page'=>$is_next + 1, 'country_slug'=>$country_slug, 'category_slug'=>$category_slug)); ?>">Xem tiếp &#187;</a>
                </div>
            <?php } ?>
            <?php if($is_back >= 0){ ?>
                <div id="artist-previous">
                    <a href="<?php echo $this->url('Artist', array('page'=>$is_back, 'country_slug'=>$country_slug, 'category_slug'=>$category_slug)); ?>">&#171; Trang trước</a>
                </div>
            <?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <!--end danh sách nghệ sỹ-->
    <div class="clear"></div>
</div>
