<?php echo $this->menu;?>
<div class="clearfix"></div>
<h2>Danh Sach Chuyen Muc:</h2>
<?php echo $this->list;?>
<h2>Danh Item</h2>
<ul>
    <li><a href="<?php echo $this->url('Videos',array('action'=>'show','slug'=>$slug,'sort'=>'new'));?>">Moi</a></li>
    <li><a href="<?php echo $this->url('Videos',array('action'=>'show','slug'=>$slug,'sort'=>'hot'));?>">hot</a></li>
    <li><a href="<?php echo $this->url('Videos',array('action'=>'show','slug'=>$slug,'sort'=>'like'));?>">Like</a></li>
</ul>
<table>
    <tbody>
        <?php
         foreach($render as $value) { ?>

            <tr>
                <td>
                    <a href="<?php echo $this->url('Video',array('action'=>'video','slug'=>$value['slug'],'identify'=>$value['identify']))?>"class="title-normal" title="<?php echo $this->escapeHtml($value['title']);?>"><?php echo $this->escapeHtml($value['title']);?>
                    </a> 
                </td>
            </tr>
        <?php }?>
    </tbody>

</table>
<?php // add at the end of the file after the table
if($sort)
{
    $partial=array(
        'route' => 'Videos',
        'slug'  =>$slug,
        'sort'  =>$sort
    );
}else $partial=    $partial=array(
        'route' => 'Videos',
        'slug'  =>$slug,
    );
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style; see http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
    'sliding',
    // the partial to use to render the control
    array('partial/cate_paginator.phtml', 'Videos'),
    // the route to link to when a user clicks a control link
    $partial
);
?>