<?php
	use Artist\Source\ArtistCommon;
?>

<div id="artist-detail" class="container">
    <?php echo $this->profile; ?>
    <div class="artist-dt">
    	<div class="artist-dt-left">
        	<?php  echo $this->left_profile ?>
        	<div class="common-box pad-left-10 mar-bot-25 artist-tt">
		        <?php  echo $this -> artist_related; ?>
		    </div>
        </div>
        <div class="artist-dt-right">
        	<div class="artist-news-wp">
                <div class="artist-news-hot">
                    <div class="artist-news-left">
                        <a href="#"><img src="<?php echo $this->basePath() . '/templates/default/images/artist-news/hot.png'?>" alt=""/></a>
                        <h1><a href="#">Bùi anh tuấn trở lại ngoại mục với 'Bài hát yêu thích'</a></h1>
                        <div class="sapo">Đều như vắt chanh, cứ đúng 8h30 anh ý lại bắt đầu đi đá bóng rồi tới hơn 10h tối anh ý mới đá bóng xong sau đó về tắm và đi ngủ lấy sức mai đi làm.</div>
                    </div>
                    <div class="artist-news-right">
                        <ul>
                            <li class="active">
                                <a href="#"><img src="<?php echo $this->basePath() . '/templates/default/images/artist-news/hot-2.png'?>" alt=""/></a>
                                <h2><a href="#">Lam trường âu yếm vợ trẻ chốn đông người</a></h2>
                            </li>
                            <li>
                                <a href="#"><img src="<?php echo $this->basePath() . '/templates/default/images/artist-news/a1.png'?>" alt=""/></a>
                                <h3><a href="#">Phương thanh giả trai 'tố' thanh thảo yêu từ nam tới nữ</a></h3>
                            </li>
                            <li>
                                <a href="#"><img src="<?php echo $this->basePath() . '/templates/default/images/artist-news/a2.png'?>" alt=""/></a>
                                <h3><a href="#">Đàm vĩnh hưng chê Mỹ tâm béo thời mới vào nghề</a></h3>
                            </li>
                            <li>
                                <a href="#"><img src="<?php echo $this->basePath() . '/templates/default/images/artist-news/a3.png'?>" alt=""/></a>
                                <h3><a href="#">Đàm vĩnh hưng hát không hay bằng Bằng kiều</a></h3>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear-both"></div>
                <div class="artist-news-list">
                    <ul>
                        <?php if(count($article) > 0){?>
                            <?php foreach($article as $item){ ?>
                                <li>
                                    <a href="<?php echo $this->url('Article_Detail', array('slug'=>$item['slug'], 'identify'=>$item['article_id']));?>">
                                        <img src="<?php echo $this->basePath() . '/templates/default/images/artist-news/list1.png'?>" alt=""/>
                                    </a>
                                    <p><?php echo $item['created_time']?></p>
                                    <h3><a href="<?php echo $this->url('Article_Detail', array('slug'=>$item['slug'], 'identify'=>$item['article_id']));?>"><?php echo $item['title']; ?></a></h3>
                                </li>
                            <?php } ?>
                        <?php }
                        else{ ?>Không có tin tức nào cả<?php } ?>
                    </ul>
                </div>
            </div>
			<?php if($is_next >=0 ){ ?>
                <div id="artist-next">
				    <a href="<?php echo $this->url('ArtistDetail/news', array('name'=>$name,'page'=>$is_next)); ?>">Xem tiếp &#187;</a>
                </div>
			<?php } ?>
			<?php if($is_prev >= 0){ ?>
                <div id="artist-previous">
				    <a href="<?php echo $this->url('ArtistDetail/news', array('name'=>$name, 'page'=>$is_prev))?>">&#171; Trang trước</a>
	                </div>
			<?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>