<?php
	use Artist\Source\ArtistCommon;
?>
<div id="artist-detail" class="container">
    <?php echo $this->profile; ?>
    <div class="artist-dt">
    	<div class="artist-dt-left">
        	<?php  echo $this->left_profile ?>
        	<div class="common-box pad-left-10 mar-bot-25 artist-tt">
		        <?php  echo $this -> artist_related; ?>
		    </div>
        </div>
        <div class="artist-dt-right">
        	<div class="soong-wp">
                <ul>
                        <?php $artist_name_search = str_replace(' ', '-', $artist['name_search']); ?>
                        <?php foreach($music as $item){ ?>
                            <li>
                                <?php $slug = str_replace(' ', '-', $item['cate_search']); ?>
                                <div class="photo">
                                    <a href="<?php echo $this->url('Music', array('slug'=>$item['slug'], 'identify'=>$item['identify'])) ?>">
                                        <div class="lazy-image img-responsive" lazy-src='<?php echo ArtistCommon::getAlbumImage($item['thumnail'], $item['slug']) ?>'></div>
                                    </a>
                                </div>
                                <div class="info">
                                    <h3><a class="link-blue-bold" href="<?php echo $this->url('Music', array('slug'=>$item['slug'], 'identify'=>$item['identify'])) ?>"><?php echo $item['title']?></a></h3>
                                    <div class="base-info-subject-song">
                                        <p class="base-info-type"><?php echo $artist['name']?> | <a class="country" href="<?php echo $this->url('ChuyenMuc', array('slug'=>$slug))?>"><?php echo $item['cate_name']?></a></p>
                                        <p><span class="title"></span><a href="">Đêm qua em mơ thấy người ấy</a></p>
                                        <p>
                                            <span class="headphone"></span><?php echo number_format($item['hitcount'], 0, '.', '.'); ?> <span class="pad-left-10"></span><span class="gender"></span>Nhanh nhất
                                        </p>
                                    </div>
                                    <div class="point-info-subject">
                                        <p><span class="people-3"></span>9.5 điểm</p>
                                        <p><span class="people-2"></span>9.5 điểm</p>
                                        <p>
                                            <a href="#" title="download"><span class="download"></span></a>
                                            <a href="#" title="Nghe nhạc"><span class="listen"></span></a>
                                            <a href="#" title="Chia sẻ"><span class="share"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        <?php } ?>
                </ul>
            </div>
			<?php if($is_next >=0 ){ ?>
                <div id="artist-next">
				    <a href="<?php echo $this->url('ArtistDetail/song', array('name'=>$artist['name_search'],'page'=>$is_next)); ?>">Xem tiếp &#187;</a>
                </div>
			<?php } ?>
			<?php if($is_prev >= 0){ ?>
                <div id="artist-previous">
				    <a href="<?php echo $this->url('ArtistDetail/song', array('name'=>$artist['name_search'], 'page'=>$is_prev))?>">&#171; Trang trước</a>
	                </div>
			<?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>