/*HAIHS SUBJECT HOT START*/
.subject-hot{overflow: hidden}
.subject-hot ul li { display: inline-block;  float: left;   height: 213px; min-height: 210px; overflow: hidden; padding: 10px 12px 0;  width: 195px;}
.subject-hot ul li a.item {
    border-bottom: 1px solid #e6e6e6;
    color: #333534;
    display: inline-block;
    overflow: hidden;
    padding: 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}
.view-more a{padding: 5px}
.text-right{text-align: right}
.bg-view-more {
    background-color: #dbf6ff;
    border: 1px solid #b6e5f6;
    border-radius: 2px;
    margin-right: 10px;
    padding: 5px 0;
}
.bg-view-more:hover {
    background: url("../images/sprites.png") no-repeat scroll -300px -3px rgba(0, 0, 0, 0);
    border-radius: 2px;
}
.bg-view-more:hover span{color: #fff}
.view-more {
    background:url("../images/sprites.png") no-repeat scroll -76px -250px rgba(0, 0, 0, 0);
    padding: 6px 20px 5px 11px;
}
.view-more span{color: #0078ca;font-size: 13px}
.pad-top-20{padding-top: 20px}
.pad-top-25{padding-top: 25px}
.pad-12{padding: 0 12px}
.subject-list{overflow: hidden}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #999999;
    cursor: not-allowed;
    background-color: #ffffff;
    border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.pager:before,
.pager:after {
    display: table;
    content: " ";
}

.pager:after {
    clear: both;
}

.pager:before,
.pager:after {
    display: table;
    content: " ";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
    float: right;
}

.pager .previous > a,
.pager .previous > span {
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #999999;
    cursor: not-allowed;
    background-color: #ffffff;
}
.text-center{text-align: center}
.point-info-subject p{ float: left; margin-top: 15px;width: 100px;}
.base-info-subject {  float: left;width: 205px;}
.download{cursor: pointer;background:url("../images/sprites.png") no-repeat scroll 6px -252px rgba(0, 0, 0, 0);display: inline-block;height: 17px;vertical-align: middle;width: 23px;}
.listen{cursor: pointer;background:url("../images/sprites.png") no-repeat scroll -25px -252px rgba(0, 0, 0, 0);display: inline-block;height: 17px;vertical-align: middle;width: 23px;}
.share{cursor: pointer;background:url("../images/sprites.png") no-repeat scroll -55px -252px rgba(0, 0, 0, 0);display: inline-block;height: 17px;vertical-align: middle;width: 23px;}
#subject-content .subject-detail{padding: 15px;overflow: hidden}
#subject-content .subject-detail .photo-detail {
    background-color: #03afef;
    border-radius: 50%;
    float: left;
    height: 216px;
    margin-right: 20px;
    position: relative;
    width: 225px;
}
#subject-content .subject-detail .photo-detail img {
    border-radius: 50%;
    height: 217px;
    left: 10px;
    position: absolute;
    width: 216px;
}
#subject-content .sub-description {
    border: 1px solid #a4e4ff;
    border-radius: 3px;
    height: 178px;
    margin-left: 135px;
    margin-top: 10px;
    padding: 10px;
    width: 75%;
}
#subject-content .sub-description p{line-height: 20px;text-align: justify}
.select-option-group {
    clear: both;
    float: right;
    overflow: hidden;
    padding-right: 4px;
}
.subject-detail .blue-select .select-text {
    background: none repeat scroll 0 0 #d0f2ff;
    border: 1px solid #8cdffd;
    border-radius: 4px;
    line-height: 25px;
    padding: 1px;
    width: auto;
}
.subject-detail .select-text-content {
    background: url("../images/arrow.png") no-repeat scroll right center #a9e8ff;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    width: auto;
}
.select-text span.select-point{width: 95px !important;}
.content-related{overflow: hidden;padding: 15px}
.width-640 {
    width: 640px;
}
.subject-content-related {
    padding: 0;
    position: relative;
    width: 100%;
}
.subject-content-related .btnprev {
    background: url("../images/sprites.png") no-repeat scroll 0 -277px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 44px;
    left: -5px;
    position: absolute;
    top: 50px;
    width: 27px;
    z-index: 10;
}
.subject-content-related .btnnext {
    background: url("../images/sprites.png") no-repeat scroll -36px -279px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 44px;
    position: absolute;
    right: -4px;
    top: 50px;
    width: 21px;
    z-index: 10;
}
.subject-slide-related ul li {
    padding: 0 14px !important;
    width: 186px !important;
}
.subject-content-related ul li a.item {
    border-bottom: 1px solid #e6e6e6;
    color: #333534;
    display: inline-block;
    overflow: hidden;
    padding: 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}
#subject-comment ul li{padding: 0}
.bg-none-select{background:#a9e8ff !important}
.list-song ul li a{color: #333534}
/*END*/