<?php $templateURL = $this->basePath('/templates/default/');?>
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
<!--  Stylesheet  -->
    <link rel="stylesheet" href="<?php echo $templateURL;?>css/style.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $templateURL;?>css/artist.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $templateURL;?>css/subject.css" type="text/css">
<!-- JavaScript  -->
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jcarousellite_1.0.1.pack.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jquery.AdvanceHiddenDropbox.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/common.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/artist.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/lib/comment/DVCommentBox.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=vietnamese' rel='stylesheet' type='text/css' />
</head>
<body>
	<?php echo $this->getMenuManager()->topMenu(); ?>
    <?php echo $this->content; ?>
</body>
</html>
