<?php 
	use DVGroup\Common\CommonLibs;
?>

<h1>Về ca sỹ</h1>
<img src="<?php echo CommonLibs::getUrlImageArtist($artist['avatar'], $artist['name_search']); ?> " />
<div>Tên thật</div> <?php echo $artist['name']?>
<div>Sinh nhật</div> <?php echo $artist['birth']?>
<div>Giới thiệu nè</div> <?php echo $artist['artist_about']?>

<?php echo $this->related; ?>