<?php if(isset($artist)){ ?>
<div id="artist-info" class="artist-profile rows4">
    <ul>
        <li class="bg"><b>Tên thật:</b> <strong><?php echo $artist['name'] ?></strong></li>
        <li><b>Ngày sinh:</b> <?php echo $artist['birth'] ?></li>
        <li class="bg">	<b>Quốc gia:</b> <?php echo $artist['country'] ?></li>
        <li><b>Công ty đại diện:</b> Ca Sỹ Tự Do</li>
        <li class="bg"><b>Profile:</b> <?php echo $artist['name_search'] ?></li>
    </ul>
        <span class="ar-info">
            <?php echo $artist['artist_about'] ?>
        </span>
</div>
<div class="more-info rows4"><span class="pg-dow"></span><a id="btn-more-info" href="javascript:void(0);">Xem thêm</a></div>
<?php } ?>
