<table data-sortable="" class="table table-striped responsive" data-sortable-initialized="true">
    <tbody>	
        <tr>
    <?php $i=0; foreach ($allcate as $value)
    {
        if($i%4==0&&$i!=0){echo "</tr><tr>";}?>
            <td><a href="<?php if($value['slug'])$params['slug']=$value['slug']; echo $this->url($route,$params);?>" class="btn-default btn-sm"><?php echo $value['name'];?></a>
                     <span class="text-muted"><small><?php if($route!='PlaylistIndex')echo $value['totalMusic'];//ko hien thi so bai hat cho muc playlist?></small></span>
            </td>		
            
    <?php $i++;  }?>
        </tr>													
       </tbody>
</table>