﻿<?php foreach($list as $item){ ?>
<li>
  <a href="<?php echo $this->url('ProductCategory', ['slug'=>$item['category_slug'], 'category_id'=>$item['category_id']]);?>"><?php echo $item['category_name']; ?>
  </a>
</li>
<?php } ?>