<table>
    <tr>
        <th>Title</th>
    </tr>
<?php
 foreach($this->paginator as $value)
{
    ?>
    <tr><td><?php var_dump($value);?></td></tr>
    //var_dump($value);
<?php }?>
</table>
<?php // add at the end of the file after the table
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style; see http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
    'sliding',
    // the partial to use to render the control
    array('partial/cate_paginator.phtml', 'Cate'),
    // the route to link to when a user clicks a control link
    array(
        'route' => 'Cate'
    )
);
?>