<div class="mar-bot-15 pos-relative marleft">
    <span class="solhead">&nbsp;</span> <span class="soltitle width-600">Chủ đề dành cho bạn</span>
</div>
<div class="pad-12">
    <?php if(isset($subject) && count($subject)>0){ ?>
        <div class="featured-song">
            <a title="<?php echo $this->escapeHtml($subject[0]['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$subject[0]['subject']['slug'],'id'=>$subject[0]['subject']['id']))?>" class="item">
                <?php
                    $url = $this->serverUrl().$subject[0]['subject']['image_path'].$subject[0]['subject']['image_thumb'];
                    if((is_file($url))&&(file_exists($url)))
                        echo '<img src="'.$url.'" />';
                    else
                        echo '<img src="'.$this->basePath('/templates/default/').'images/no-img.gif" />';
                ?>
            </a>
            <div class="blur-title">
                <h4 class="caption">
                    <a title="<?php echo $this->escapeHtml($subject[0]['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$subject[0]['subject']['slug'],'id'=>$subject[0]['subject']['id']))?>" class="item"><?php echo $this->escapeHtml($subject[0]['subject']['name']);?></a>
                </h4>
                <div>
                    <span class="title-grey"></span><span class="green-text"><?php echo $subject[0]['subject']['total']; ?> </span> bài thuộc chủ đề này
                </div>
            </div>
        </div>
    <?php } ?>
    <?php if(isset($subject) && count($subject)>0){ ?>
    <div class="list-song">
        <ul>
            <?php foreach($subject as $k=>$val){
                if($k==0) continue;
                if($k>3) break;
            ?>
            <li>
                <a title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>" >
                    <?php
                        $url = $this->serverUrl().$val['subject']['image_path'].$val['subject']['image_thumb'];
                        if((is_file($url))&&(file_exists($url)))
                            echo '<img src="'.$url.'" />';
                        else
                            echo '<img width="140px" height="105" src="'.$this->basePath('/templates/default/').'images/no-img.gif" />';
                    ?>
                </a>
                <div class="info-right">
                    <h4>
                        <a title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>" ><?php echo $this->escapeHtml($val['subject']['name']);?></a>
                    </h4>
                    <div>
                        <span class="title"></span><?php echo $val['subject']['total']; ?>  bài thuộc chủ đề này</div>
                </div>
            </li>
            <?php } ?>
        </ul>
    </div>
    <div class="clear"></div>
    <?php } ?>
</div>
<div class="subject-hot">
    <ul>
      <?php if(isset($subject) && count($subject)>0){foreach($subject as $k=>$val){
            if($k<=3) continue;
          ?>
          <li>
              <a class="thumbnail" title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>">
                  <?php
                      $url = $this->serverUrl().$val['subject']['image_path'].$val['subject']['image_thumb'];
                      if((is_file($url))&&(file_exists($url)))
                          echo '<img src="'.$url.'" />';
                      else
                          echo '<img width="140px" height="105" src="'.$this->basePath('/templates/default/').'images/no-img.gif" />';
                  ?>
              </a>
              <h5>
                  <a title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>" class="item"><?php echo $this->escapeHtml($val['subject']['name']);?></a>
              </h5>
              <div class="info">
                  <p class="line-25">
                      <span class="headphone"></span><?php echo $val['subject']['totallisten']; ?>  người đang nghe</p>
                  <p class="category">
                      <?php echo \DVGroup\Common\CommonLibs::bd_nice_number($val['subject']['total']); ?> bài hát thuộc chủ để này</p>
              </div>
          </li>
      <?php } } ?>
    </ul>
    <div class="clear"></div>
    <div class="pad-top-25 pad-bot-15 text-right">
            <span class="pad-10 bg-view-more">
                <a href="<?php echo $this->url('subjectUser',array('action'=>'subjectUser')) ?>" title="Xem tiếp" class="view-more"><span> Xem tiếp</span></a>
            </span>
    </div>
</div>