<?php if(isset($subject) && count($subject)>0){?>
    <ul>
        <?php foreach($subject as $k=>$val){ ?>
            <li>
                <a class="thumbnail" title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>">
                    <?php
                        $url = $this->serverUrl().$val['subject']['image_path'].$val['subject']['image_thumb'];
                        if((is_file($url))&&(file_exists($url)))
                            echo '<img src="'.$url.'" />';
                        else
                            echo '<img width="140px" height="105" src="'.$this->basePath('/templates/default/').'images/no-img.gif" />';
                    ?>
                </a>
                <h5>
                    <a title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('action'=>'view','slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>" class="item"><?php echo $this->escapeHtml($val['subject']['name']);?></a>
                </h5>
                <div class="info">
                    <p class="line-25">
                        <span class="headphone"></span><?php echo $val['subject']['totallisten']; ?>  người đang nghe</p>
                    <p class="category">
                        <?php echo \DVGroup\Common\CommonLibs::bd_nice_number($val['subject']['total']); ?> bài hát thuộc chủ để này</p>
                </div>
            </li>
        <?php } ?>
    </ul>
<?php } ?>