<?php echo $this->menu;?>
<div class="clearfix"></div>
<?php var_dump($itemDetail);?>
<h2>Thong Tin nghe si:</h2>
<?php var_dump($artist);?>
<?php echo $this->musicrelated;?>
<?php echo $this->videorelated;?>
<?php echo $this->albumrelated;?>
<?php echo $this->music_artist_related;?>
<?php echo $this->video_artist_related;?>